
<div style="margin-top: 30px; padding: 30px; display:flex; justify-content:center; align-items:center">
    <div class="card" style="width: 30%; height:400px; background-color:white; display:flex; align-items:center; padding: 20px">
        <div>
            <h3 style="text-align: center;">Temperature Edge Device Simulator</h3>
        </div>
        <a class="btn btn-primary btn-md active" style="width: 100px; margin-top:50px" href="/login">Login</a>
    </div>

</div>